$base_text_color: #534e4e;
$green: #1db8a3;
$gray: #f4f0f0;
$yellow: #fff0bf;
$form-bg: #f4f0f0;
$form-border: #707070;
$error_color: #cf5271;
$delete_color: #2c3e50;
$plus: #206dc5;
$minus: #dd4a76;
$padding-tb: 32px;
$padding-lr: 30px;
$theme-title-size: 16px;
$header-h: 48px;
$headerTop-h: 120px;
$footer-h: 120px;
$form-h: 40px;
$image_path: "../assets";
